            <li class="list-row">
              <div><img class="size-10 rounded-box" [src]="skill().iconUrl"/></div>
              <div>
                <div>{{skill().name}}</div>
                <div
                 [class]="'text-xs uppercase font-semibold  '+ skill().percentColor"
                >
                     <span class="font-bold text-gray-200">Nivel -</span>
                     {{skill().level}}
                </div>
              </div>
              <div
                 [class]="'radial-progress  w-20  h-20 '+ skill().percentColor"
                 [style]="'--value:'+ skill().percent+';'"
                 aria-valuenow="'skill().percent'"
                 role="progressbar">{{skill().percent}}%
             </div>
            </li>


