
<div
  id="inf"
  class="hero min-h-screen  animate-fadeIn "
  style="background-image: url(/assets/images/folio1.jpg);"
>
<div class="hero-overlay"></div>
<div class="hero  sm:min-h-screen sm:w-3xl ">
  <div class="hero-content flex-col lg:flex-row-reverse">

      <img
        src="/assets/imgs/foto_cv1.jpg"
        class=" w-3xs  shadow-2xl rounded-full border-none"
    />
    <div class="text-neutral-200 ">
       <h1 class="text-4xl  font-revolution">Johan Camilo Páez Mendoza</h1>
       <h2 class="text-2xl font-bold">Desarrollador Front-End</h2>
       <div class="divider   "></div>
       <h3 class="text-2xl font-bold">Sobre Mí</h3>
       <p class="py-6">
           Elegí de manera personal y autónoma dedicarme al mundo de la programación de software enfocado en desarrolo Web, lo que me ha permitido desarrollar esta actividad con responsabilidad, respeto y seriedad, exigiéndome a diario la actualización de todo lo nuevo, comprometiéndome de la mejor manera con lo que hago. Es por eso que pongo a disposición de quien lo requiera, mis conocimientos, disposicion para seguir aprendiendo y dedicación en cada tarea asignada.
       </p>
       <a
       href="/assets/docs/CV_johan.pdf"
       target="_blank"
       rel="noopener noreferrer"
       class="btn btn-accent">Descargar CV</a>
     </div>
    </div>

  </div>

  </div>



