
<div
  id="inf"
  class="hero min-h-screen  animate-fadeIn "
  style="background-image: url(/assets/images/folio2.png);"
>
<div class="hero-overlay"></div>
<div class="hero  sm:min-h-screen sm:w-3xl ">
  <div class="hero-content flex-col lg:flex-row-reverse">

      <img
        src="/assets/imgs/foto_cv1.png"
        class=" w-3xs  shadow-2xl rounded-full border-none"
    />
    <div class="text-neutral-200" style="background-color: rgba(0, 0, 0, 0.8); padding: 20px; border-radius: 10px;">
       <h1 class="text-3xl font-bold  ">Johan Camilo Páez Mendoza</h1>
       <h2 class="text-2xl ">Desarrollador Back-End</h2>
       <div class="divider"></div>
       <h3 class="text-2xl font-bold">Sobre Mí</h3>
       <p class="py-6" style="font-size: 20px;">
           Desarrollador de software con experiencia en frontend y enfoque actual en backend y arquitectura de sistemas. Construyo APIs RESTful escalables con Node.js, TypeScript y PostgreSQL, aplicando Clean Architecture y patrones de diseño profesionales. En frontend, domino Angular con TypeScript para crear interfaces modernas y reactivas.
           Me apasiona escribir código limpio, bien estructurado y pensado para crecer. Siempre aprendiendo, siempre construyendo.
       </p>
       <a
       href="/assets/docs/CV_johan.pdf"
       target="_blank"
       rel="noopener noreferrer"
       class="btn btn-accent">Descargar CV</a>
     </div>
    </div>

  </div>

  </div>



