<section class="contentTotal max-w-4xl justify-center m-auto ">
   <div class="text-4xl font-bold stat-title text-center" id="experiencia">
    <h1 >Experiencia</h1>
   </div>
   <div class="divider"></div>
   <div class="m-auto flex justify-center p-3">
     <div class=" stats-vertical xl:stats-horizontal shadow bg-gray-700/40 grid grid-cols-1  xl:grid-cols-3 rounded-xl p-3 ">
    <div class="stat">
      <div class="stat-figure text-secondary">
        <i class="fa-solid fa-file-code text-xl"></i>
      </div>
      <div class="stat-title ">Puesto ocupado</div>
      <div class="stat-value text-lg">Técnico Programador</div>
      <div class="stat-desc mt-1">Mar 03/2022 - Sept 02/2022</div>
    </div>

    <div class="stat ">

      <div class="stat-title mb-3">Tecnologias</div>
      <div class="stat-value  flex justify-start gap-5 ">
        <i class="fa-brands fa-html5 text-2xl text-orange-500"></i>
        <i class="fa-brands fa-css3-alt text-2xl text-blue-500"></i>
        <i class="fa-brands fa-php text-2xl"></i>
        <i class="fa-solid fa-database text-2xl"></i>
        <i class="fa-brands fa-js text-2xl text-yellow-500"></i>
      </div>
      <div class="stat-desc mt-2">Desarrollo Página Web Jingle Voice</div>

    </div>

    <div class="stat">
      <div class="stat-figure text-secondary">
        <i class="fa-solid fa-building text-2xl"></i>
      </div>
      <div class="stat-title">Empresa</div>
      <div class="stat-value text-lg">TecnoParque SENA</div>
      <div class="stat-desc flex gap-2  mt-2">
       <p>Certificado</p>
       <a
        href="/assets/docs/Ce2_jcpm.pdf"
        target="_blank"
        rel="noopener noreferrer"
        class="btn btn-xs btn-outline btn-circle ">
        <i class="fa-solid fa-file-lines"></i>
      </a>
      </div>
    </div>
  </div>
   </div>
</section>
