<section class="contentTotal animate-fadeIn ">
    <h1 id="Tecnologias" class="text-center text-4xl m-7 font-bold ">Tecnologías</h1>
    <div class="divider max-w-xl m-auto "></div>
   <div class="content  p-2  border-gray-300 grid gap-3  m-auto">
     @for (categoty of allCategory; track $index) {
       <div class="langs">
         <ul class="list bg-base-100 rounded-box shadow-md max-w-4xl m-auto">
      <li class="p-4 pb-2   text-xl tracking-wide text-accent font-bold ">{{categoty}}</li>
      @for (skill of allSkills; track $index) {
          @if (categoty == skill.category ) {
            <app-list-skill [skill]="skill"></app-list-skill>
          }
        }
    </ul>
       </div>
     }
  <div class="divider max-w-4xl m-auto"></div>
   </div>
</section>
