<div class="navbar bg-base-100 shadow-sm ">
  <div class="navbar-start">
    <div class="dropdown">
      <div tabindex="0" role="button" class="btn btn-ghost lg:hidden  ">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor"> <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h8m-8 6h16" /> </svg>
      </div>
      <ul
        tabindex="0"
        class="menu menu-sm dropdown-content bg-base-100 rounded-box z-1 mt-3 w-52 p-2 shadow">
        @for (title of menuTitles; track $index) {
                <li><a [routerLink]="'home/'+title"  >{{title | titlecase}}</a></li>
              }
      </ul>
    </div>
<!-- change popover-1 and --anchor-1 names. Use unique names for each dropdown -->

  <a
   href="mailto:johanpaezmendoza@gmail.com"
   class="btn bg-red-500 text-white ">
   <i class="fa-regular fa-envelope text-xl "></i>
   <p class="hidden md:block">Enviar Correo</p>
  </a>

  </div>
  <div class="navbar-center hidden lg:flex">
    <ul class="menu menu-horizontal px-1 ">
          @for (title of menuTitles; track $index) {
                <li><a [routerLink]="'home/'+title"   >{{title | titlecase}}</a></li>
              }
    </ul>
  </div>
  <div class="navbar-end ">
        <div class=" flex justify-end gap-2" >
          <a
          href="https://github.com/johancpm"
          target="_blank"
          rel="noopener noreferrer"
          class="btn btn-accent">
          <i class="fa-brands fa-github"></i>
          Git-Hub
          </a>
          <a
          href="https://www.linkedin.com/in/johan-camilo-paez-mendoza-248b632a1/"
          target="_blank"
          rel="noopener noreferrer"
          class="btn btn-accent"
          >
          <i class="fa-brands fa-linkedin"></i>
           Linkedink
          </a>
        </div>
  </div>
</div>






