<section class=" bottom-0 left-0 right-0 z-50">
  <footer class="footer sm:footer-horizontal bg-base-300 text-base-content p-10   ">
  <nav >
    <h6 class="footer-title font-revolution text-gray-200 ">Contactame</h6>
    <h4 class="flex gap-4 items-center"> <i class="fa-regular fa-envelope"></i> {{email()}}</h4>
    <h4 class="flex gap-4 items-center"> <i class="fa-solid fa-phone"></i>+57 {{phone()}}</h4>
    <h4 class="flex gap-4 items-center"> <i class="fa-solid fa-location-dot"></i> {{location()}}</h4>
  </nav>
  <nav class=" grid justify-center " >
    <h6 class="footer-title  font-revolution text-gray-200 m-auto ">Mí CV</h6>
    <div class="  ">
      <a
        href="/assets/docs/CV_johan.pdf"
        target="_blank"
        rel="noopener noreferrer"
        class="btn bg-white  hover:bg-accent text-black border-[#e5e5e5]">
        <i class="fa-regular fa-file text-2xl"></i>
         Descarga CV
      </a>
    </div>
  </nav>
  <nav >
    <h6 class="footer-title font-revolution text-gray-200  ">Perfil Git-Hub y Linkedink</h6>
    <div class="grid grid-flow-col gap-4 m-auto ">
      <a
      href="https://github.com/johancpm"
      target="_blank"
      rel="noopener noreferrer"
      class="text-4xl btn btn-soft ml-0 bg-transparent border-none hover:text-gray-500 cursor-pointer">
        <i class="fa-brands fa-github "></i>
      </a>
      <a
      href="https://www.linkedin.com/in/johan-camilo-paez-mendoza-248b632a1/"
      target="_blank"
      rel="noopener noreferrer"
      class="text-4xl btn btn-soft bg-transparent border-none hover:text-blue-500 cursor-pointer">
        <i class="fa-brands fa-linkedin "></i>
      </a>
    </div>
  </nav>
</footer>
</section>




